 .u-section-1 {
  background-image: url("images/a-cartoon-illustration-of-a-rick-and-morty-style-s-7nLHRlCuQvSNUe5jlu-EmA--MtxGXNlSCSw3EMz4jvY4g1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 639px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 134px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 407px;
  height: 409px;
  object-position: 50% 0%;
  animation-timing-function: ease-in;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -2px auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 362px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: INVADER;
  font-size: 3.75rem;
  margin: 10px 238px 0 15px;
}

.u-section-1 .u-text-2 {
  font-family: INVADER;
  margin: 22px auto 0 15px;
}

.u-section-1 .u-list-1 {
  width: 697px;
  margin: 15px 31px 36px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 1.5px) calc(25% - 1.5px) calc(25% - 1.5px) calc(25% - 1.5px);
  grid-gap: 2px 2px;
  min-height: 65px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-1 .u-image-1 {
    transition-duration: 0.5s;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 15px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 301px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    margin-right: 23px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 1px) calc(50% - 1px);
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1192px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -13px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 0px 0px;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 38px;
  }

  .u-section-1 .u-btn-2 {
    padding: 10px 38px;
  }

  .u-section-1 .u-btn-3 {
    padding: 10px 38px;
  }

  .u-section-1 .u-btn-4 {
    padding: 10px 38px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 118px;
}

.u-section-2 .u-text-1 {
  font-family: ABeeZee;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 45px auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: url("images/a-cartoon-style-illustration-of-a-destroyed-or-exp-R89Ul1p0R_q81J03solAYA-PacLbgVyQ9Olwn9i9WzQ1A.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("images/SOLOKO.png");
  background-position: 49.3% 20%;
  background-size: auto 140%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: INVADER;
  font-size: 3.75rem;
  margin: 0 15px;
}

.u-section-3 .u-text-2 {
  font-family: INVADER;
  margin: 20px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 629px;
}

.u-section-4 .u-text-1 {
  font-family: INVADER;
  font-size: 3.75rem;
  margin: 31px auto 0;
}

.u-section-4 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 31px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 37px 37px;
  grid-template-columns: calc(50% - 18.5px) calc(50% - 18.5px);
  min-height: 375px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-family: INVADER;
  margin: 28px 2px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-family: INVADER;
  margin: 28px 2px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-family: INVADER;
  margin: 28px 2px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-family: INVADER;
  margin: 28px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 989px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: url("images/a-cartoon-style-of-space-ship-warfare-inspired-by--vNJa5ljhSGWnY-IMUnIj6w-48ddvt_SSHSYJirJvUhrBg.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 447px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-family: INVADER;
  font-size: 6rem;
  line-height: 1.1;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-family: INVADER;
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-5 .u-text-3 {
  font-family: INVADER;
  font-size: 1.25rem;
  margin: 42px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 439px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-image-1 {
  width: 471px;
  height: 377px;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 262px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 451px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-6 .u-container-layout-1 {
  padding: 3px 28px;
}

.u-section-6 .u-image-1 {
  width: 413px;
  height: 413px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-family: INVADER;
  font-size: 7.8125rem;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-family: INVADER;
  font-size: 2.25rem;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-6 .u-image-1 {
    width: 415px;
    height: 415px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-6 .u-image-1 {
    width: 305px;
    height: 305px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }
} .u-section-7 {
  background-image: url("images/a-cartoon-illustration-of-a-rick-and-morty-style-s-7nLHRlCuQvSNUe5jlu-EmA--MtxGXNlSCSw3EMz4jvY4g1.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 320px;
}

.u-section-7 .u-text-1 {
  font-family: INVADER;
  font-size: 1.875rem;
  margin: 40px 0;
}@font-face {
  font-family: 'INVADER';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/INVADER.TTF);
}